<html>
<head>
<style>
h1 {
  text-align: center;
  padding-top: 300px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url("https://eskipaper.com/images/free-birthday-background-1.jpg");
  background-size: cover;
  background-color: rgb(32, 178, 170);
}
</style>
</head>
<body>
<h1>Your birthday will be in <%= @person.calculate %> days, <%= @person.name %>!</h1>
</body>
</html>







